### Daum Exchange
- `https://finance.daum.net`

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import requests

- User-Agent : 웹서비스에 접속하는 Client의 환경정보
- Referer : 웹서비스에 접속하기 이전의 웹서비스에 대한 URL

In [2]:
url = "https://finance.daum.net/api/exchanges/summaries"
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) \
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
    'Referer': 'https://finance.daum.net',
}
# response = requests.get(url)
response = requests.get(url, headers=headers)
response

In [3]:
datas = response.json()["data"]
df = pd.DataFrame(datas)
df.head(1)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,ttBuyingPrice,ttSellingPrice,cashBuyingPrice,cashSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWUSD,2024-09-11 21:17:00,USD,달러,1,미국,"{'korName': '아메리카', 'engName': 'America'}",미국 (USD/KRW),754,1339.1,...,-0.004016,1326.0,1352.2,1362.53,1315.67,None,None,6.96077,1.0,{'day': 'https://t1.daumcdn.net/media/finance/...

In [4]:
columns = ["date", "currencyCode", "currencyName", "country", "name", "basePrice"]
df[columns].head()

,date,currencyCode,currencyName,country,name,basePrice
0,2024-09-11 21:17:00,USD,달러,미국,미국 (USD/KRW),1339.10
1,2024-09-11 21:17:00,JPY,엔,일본,일본 (JPY100/KRW),944.19
2,2024-09-11 21:17:00,CNY,위안,중국,중국 (CNY/KRW),188.19
3,2024-09-11 21:17:00,EUR,유로,유로,유로 (EUR/KRW),1478.84
4,2024-09-11 21:17:00,GBP,파운드,영국,영국 (GBP/KRW),1752.41