### Zigbang 원룸 매물 데이터 수집

In [2]:
import pandas as pd
import requests

/opt/anaconda3/lib/python3.9/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (5.0.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

#### Process
    - 동이름으로 위도 경도 구하기
    - 위도 경도로 geohash 알아내기
    - geohash로 매물 아이디 가져오기
    - 매물 아이디로 매물 정보 가져오기

#### 1. 동이름으로 위도 경도 구하기

In [11]:
addr = '비산동'
url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
response = requests.get(url)
data = response.json()['items'][10]
lat , lng = data['lat'], data['lng']
lat, lng

(37.399888637, 126.940783819)

#### 2. 위도 경도로 geohash 알아내기

In [12]:
#pip install geohash2
import geohash2

In [15]:
geohash = geohash2.encode(lat, lng, precision=5)
geohash

'wydkb'

#### 3. geohash로 매물 아이디 가져오기

In [27]:
url = f'https://apis.zigbang.com/v2/items/oneroom?geohash={geohash}\
&depositMin=0&rentMin=0&salesTypes[0]=전세&salesTypes[1]=월세&domain=zigbang&checkAnyItemWithoutFilter=true'
response = requests.get(url)
response

In [28]:
item_ids = []
for data in response.json()['items']:
    item_ids.append(data['itemId'])
len(item_ids), item_ids[:5]

(93, [41890005, 41944069, 42135315, 42197671, 42227592])

In [26]:
item_ids = [data['itemId'] for data in response.json()['items']]
len(item_ids)

93

#### 4. 매물 아이디로 매물 정보 가져오기

In [29]:
url = 'https://apis.zigbang.com/v2/items/list'
params = {'domain' : "zigbang", 'item_ids' : item_ids}
response = requests.post(url, params)
response

In [33]:
data = response.json()['items']
df = pd.DataFrame(data)
df = df[df['address1'].str.contains(addr)].reset_index(drop=True)
df = df[['item_id', 'sales_title', 'deposit', 'rent', 'size_m2', 'floor', 'building_floor', 'title',
        'manage_cost', 'address1']]

In [24]:
df.columns

Index(['item_id', 'section_type', 'images_thumbnail', 'sales_type',
       'sales_title', 'deposit', 'rent', 'size_m2', '공급면적', '전용면적', '계약면적',
       'room_type_title', 'floor', 'floor_string', 'building_floor', 'title',
       'is_first_movein', 'room_type', 'status', 'tags', 'service_type',
       'random_location', 'location', 'manage_cost', 'reg_date', 'is_new',
       'addressOrigin', 'action', 'contract', 'address', 'is_zzim', 'address1',
       'address2', 'address3', 'item_bm_type', 'isCleanLessor', 'zikim'],
      dtype='object')

In [25]:
# df 칼럼 전체 최대 출력
pd.options.display.max_columns = 40

In [34]:
df.tail(2)

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,manage_cost,address1
11,42221242,월세,21000,19,39.00,5,26,"첫입주, 1.5룸신축 풀옵션,버팀목대출가능",15,경기도 안양시 동안구 비산동
12,42156233,전세,13000,0,36.36,2,3,"투룸. 도배, 장판, 씽크대 깔끔수리예정",0,경기도 안양시 동안구 비산동

In [38]:
# 5. function
def oneroom(addr):
    url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
    response = requests.get(url)
    data = response.json()['items'][0]
    lat , lng = data['lat'], data['lng']
    
    geohash = geohash2.encode(lat, lng, precision=5)
    
    url = f'https://apis.zigbang.com/v2/items/oneroom?geohash={geohash}&depositMin=0&rentMin=0&salesTypes[0]=전세&salesTypes[1]=월세&domain=zigbang&checkAnyItemWithoutFilter=true'
    response = requests.get(url)
    item_ids = [data['itemId'] for data in response.json()['items']]
    
    url = 'https://apis.zigbang.com/v2/items/list'
    params = {'domain' : "zigbang", 'item_ids' : item_ids}
    response = requests.post(url, params)
    data = response.json()['items']
    df = pd.DataFrame(data)
    df = df[df['address1'].str.contains(addr)].reset_index(drop=True)
    return df[['item_id', 'sales_title', 'deposit', 'rent', 'size_m2', 'floor', 'building_floor', 'title',
        'manage_cost', 'address1']]

In [44]:
df = oneroom('동안구 비산동')
df

,item_id,sales_title,deposit,rent,size_m2,floor,building_floor,title,manage_cost,address1
0,41890005,전세,30000,0,123.00,23,24,"전세대출,3룸화2,신축풀옵션,이마트옆이용편리",,경기도 안양시 동안구 비산동
1,41944069,전세,30000,0,123.85,22,24,"이마트앞,신축3룸,전세대출가,가전풀옵션,신혼환",,경기도 안양시 동안구 비산동
2,42135315,전세,30000,0,123.85,21,24,"이마트앞,3룸가전풀옵션,신혼부부대환영,전세대출가",20,경기도 안양시 동안구 비산동
3,42197671,월세,3000,120,123.00,20,24,"사업자,3룸화2,신축풀옵션,",0,경기도 안양시 동안구 비산동
4,42227592,전세,30000,0,125.00,17,24,"신축 풀옵션, 첫입주 전세",9,경기도 안양시 동안구 비산동
5,42243177,전세,30000,0,123.85,21,24,"대출무,이파트앞,신축3룸,가전풀옵션,전세대출가,기운좋은오피",20,경기도 안양시 동안구 비산동
6,42221112,월세,1000,84,39.49,중,15,"전입가능,신축 1.5룸 풀옵션 원룸",12,경기도 안양시 동안구 비산동
7,42221123,월세,1000,84,39.49,중,15,전입가능.신축 1.5룸비산수풀채 풀옵션.,12,경기도 안양시 동안구 비산동
8,42221148,월세,1000,84,36.36,중,15,"전입가능 풀옵션1.5룸 , 주차편리, 주변환경 좋아요.",12,경기도 안양시 동안구 비산동
9,42221162,월세,1000,84,39.49,중,15,전입신고가능한 신축 1.5룸 비산수풀채,12,경기도 안양시 동안구 비산동
10,42227595,월세,1000,84,39.67,고,15,전입가능한 신축형 1.5룸입니다.,12,경기도 안양시 동안구 비산동
11,42221242,월세,21000,19,39.00,5,26,"첫입주, 1.5룸신축 풀옵션,버팀목대출가능",15,경기도 안양시 동안구 비산동
12,42156233,전세,13000,0,36.36,2,3,"투룸. 도배, 장판, 씽크대 깔끔수리예정",0,경기도 안양시 동안구 비산동