# Python
- 컴퓨터의 CPU, RAM, SSD를 활용하기 위해서 학습
1. 변수선언 : RAM 사용 문법 : 식별자(저장공간을 구분하는 문자열) :PEP20, PEP8(autopep8, flake8)
2. 데이터타입 : RAM 효율적 사용 문법 : int, float, bool, str, list, tuple, dict, set
3. 연산자 : CPU 사용 문법 : 산술, 비교, 논리, 할당, 멤버 ...
4. 조건문, 반복문 : if, elif, else : while, for, break, continue, range() ...
5. 함수 : 반복 사용되는 코드를 묶어서 코드 작성 실행 : def, return, scope(global), lambda ...
6. 클래스 : 변수, 함수를 묶어서 코드 작성 실행 : 객체지향 구현 : class, self, special method(생성자)
7. 모듈 : 변수, 함수, 클래스를 파일로 묶어서 코드 작성 실행 : 확장자 .py
8. 패키지 : 여러개의 모듈을 디렉토리로 묶어서 관리 : 버전정보 : import, from, as
9. 입출력 : SSD 사용 문법 : RAM(object) > SSD(file), SSD(file) > RAM(object) : pickle

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Class
- 변수, 함수를 묶어서 코드 작성 및 실행
- 객체지향 구현 : 실제세계를 모델링하여 프로그램을 개발하는 개발 방법론 : 협업이 용이함
- 함수사용 : 함수선언(코드작성) > 함수호출(코드실행)
- 클래스사용
      -클래스선언(코드작성:설계도작성) > 객체생성(메모리사용:제품생산) > 메서드실행(코드실행:제품사용)
      -메서드 : 클래스 안에 선언되는 함수
- class 식별자 : UpperCamelCase, PascalCase(O), snake_case(X:변수,함수)

In [7]:
# 1. 클래스선언 : 코드작성
# 예금계좌 : Account : balance, deposit(), withdraw()
class Account:
    
    balance = 0
    
    def deposit(self, amount):
        self.balance += amount
        
    def withdraw(self, amount):
        self.balance -= amount

In [10]:
# 2. 객체생성 : 메모리사용
acc1 = Account()
acc2 = Account()

In [18]:
# dir() : 객체 안에 들어있는 변수, 함수 목록 출력
dir(acc1)[-3:], dir(acc2)[-3:]

(['balance', 'deposit', 'withdraw'], ['balance', 'deposit', 'withdraw'])

In [20]:
acc1.balance = 1000

In [22]:
acc1.balance, acc2.balance

(1000, 0)

In [ ]:
# 3. 메서드실행 : 코드실행

In [24]:
acc1.withdraw(600)
acc2.deposit(3000)

In [26]:
acc1.balance, acc2.balance

(400, 3000)

In [ ]:
# pandas DataFrame
# 클래스선언(다른사람) > 객체생성(사용1) > 메서드호출(사용2)

In [28]:
# 1. 클래스선언 : 다른 사람이 만든 클래스 가져옴
import pandas as pd

In [30]:
# 2. 객체생성
df = pd.DataFrame({'id': list('123'), 'name': list('ABC')})
df

  id name
0  1    A
1  2    B
2  3    C

In [38]:
# 3. 메서드호출
#dif(df)
#help(df.sum)
df.sum()

id      123
name    ABC
dtype: object

In [40]:
df.T

      0  1  2
id    1  2  3
name  A  B  C

In [ ]:
# 변수, 함수는 둘다 객체입니다.
# 클래스는 사용자정의 데이터타입 입니다.

In [42]:
# acc 객체 클래스 : Account : balance, withdraw(), diposit()
# acc 객체 데이터타입 : Account
# > 클래스는 데이터타입 입니다.
# Account 클래스는 우리가 만듦 : 사용자정의
# > 클래스는 사용자정의 데이터타입 입니다.
acc = Account()
type(acc)

__main__.Account

In [56]:
# data1 객체 데이터타입 : str
# data1 객체 클래스 : str : upper(), lower(), join() ...
data1 = 'python'
type(data1)

str

In [58]:
#dir(data1)

In [60]:
help(data1.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [62]:
# data2 객체 데이터타입, 클래스 : list
data2 = [1, 3, 2]
type(data2)

list

In [64]:
#dir(data2)

In [66]:
help(data2.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
# > 객체는 어떤 데이터타입(클래스)인지에 따라서 사용가능한 변수, 매서드가 달라집니다.

In [76]:
%reset
#현재 선언된 변수 초기화

Once deleted, variables cannot be recovered. Proceed (y/[n])?  n

Nothing done.

In [68]:
# 변수, 함수는 둘다 객체입니다.
data = 1

In [70]:
def plus():
    return 1 + 2

In [72]:
type(data), type(plus)

(int, function)

In [78]:
%whos
# 현재 선언된 객체 목록 출력

Variable               Type         Data/Info
---------------------------------------------
Account                type         <class '__main__.Account'>
acc                    Account      <__main__.Account object at 0x00000252AB6D6750>
acc1                   Account      <__main__.Account object at 0x00000252A9EED400>
acc2                   Account      <__main__.Account object at 0x00000252A9244230>
data                   int          1
data1                  str          python
data2                  list         n=3
dataframe_columns      function     <function dataframe_colum<...>ns at 0x00000252A8D7A840>
dataframe_hash         function     <function dataframe_hash at 0x00000252AA493B00>
df                     DataFrame      id name\n0  1    A\n1  2    B\n2  3    C
dtypes_str             function     <function dtypes_str at 0x00000252AA492020>
get_dataframes         function     <function get_dataframes at 0x00000252A8D7AE80>
getpass                module       <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module       <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function     <function import_pandas_s<...>ly at 0x00000252AB5B2C00>
is_data_frame          function     <function is_data_frame at 0x00000252AB5B1F80>
json                   module       <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
pd                     module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
plus                   function     <function plus at 0x00000252AA493560>
this                   module       <module 'this' from 'C:\\<...>anaconda3\\Lib\\this.py'>

In [ ]:
# speical methods
# -특별한 기능을 하는 메서드
# -앞뒤로 __가 붙은 메서드
# -대표적으로 생성자 메서드

In [ ]:
# 생성자 메서드 : __init__(self)
# - 특별한 기능 : 객체 생성시 실행되는 메서드

In [94]:
# 클래스 선언
class Account:
    # 생성자 메서드 : 메서드에서 사용되는 변수의 초기값 설정하는 용도
    def __init__(self, balance):
        self.balance = balance
    
    def deposit(self, amount):
        self.balance += amount
        
    def withdraw(self, amount):
        self.balance -= amount

In [100]:
# 객체생성 : 메모리사용 : 원자제사용
acc = Account(1000)

In [102]:
# 메서드호출 : 불량품 생산
acc.deposit(1000)

In [104]:
acc.balance

2000

In [106]:
# mangling(private variable), getter, setter 내용을 같이 참고

In [108]:
d1, d2 = 1, 2
d3, d4 = '3', '4'

In [110]:
type(d1), type(d2), type(d3), type(d4)

(int, int, str, str)

In [114]:
# 데이터 타입이 다르면 같은 연산자라도 다르게 연산 수행이 됩니다.
d1 + d2, d3 + d4

(3, '34')

In [120]:
# __add__ : +연산자에 대한 코드 정의
# dir(d1)
d1.__add__(d2) # int 클래스의 __add__() 메서드 호출

3

In [124]:
#dir(d3)
d3.__add__(d4) # str 클래스의 __add__() 메서드 호출

'34'

In [130]:
class Number:
    def __init__(self, data):
        self.data = data
    def __add__(self, obj):
        self.data -= obj.data
        return self.data

In [132]:
num1 = Number(3)
num2 = Number(2)

In [134]:
num1 + num2 # num1.__add__(num2) : num1 객체의 __add__ 메서드 호출 num2 는 파라미터로 들어감

1